<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunle.dao.AccountDao">
<select id="findAll" resultType="com.xunle.dao.AccountDao">
    select * from mybatis.account;
</select>
    <delete id="deleteByPrimaryKey" parameterType="String">
        delete from account where id = #{id};
    </delete>
    <insert id="insert" parameterType="com.xunle.dao.AccountDao">
        insert into account values(${id},${name},${money},${createTime},${updateTime});
    </insert>
    <select id="selectByPrimaryKey" parameterType="String" resultType="com.xunle.dao.AccountDao">
        select * from account where id = ${id};
    </select>
    <update id="updateByPrimaryKey" parameterType="com.xunle.dao.AccountDao">
        update account set id = #{id},name = #{name},money = #{money},createtime = #{createtime},updatetime = #{updatetime} where id = ${id};
    </update>

</mapper>